.frame {
	padding: 10px;
	max-width: 500px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}
section {
	padding: 1em;
	border: 1px rgb(156, 82, 185) solid;
	border-radius: .5em;
}

h1 {
	margin: 0;
}

ul {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

li {
	list-style-type: none;
}