@font-face {
	font-display: swap; 
    font-family: 'BevScript';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/BrevScript_PersonalUse.ttf') format('truetype'); 
}

body {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 16px);
	box-sizing: border-box;
}

h1 {
	position: relative;
	line-height: 1.4;
	margin: 0;
	font-size: 70pt;
	font-family: 'BevScript';
	font-weight: normal;
	color: rgb(156, 82, 185);
	color: transparent;
	background-clip: text;
	background-image: linear-gradient(190deg, rgb(196, 121, 226), rgb(137, 57, 168));
	margin-bottom: -18px;
}

#still {
	position: absolute;
	font-size: 70pt;
	left: 140px;
	width: 200px;
	bottom: -22px;
	color: transparent;
	background-clip: text;
	background-image: linear-gradient(190deg, rgb(196, 121, 226), rgb(137, 57, 168));
}

.side-by-side {
	display: flex;
	column-gap: 15px;
	flex-wrap: wrap;
	align-items: flex-start;
	row-gap: 15px;
	flex-grow: 1;
}

hr {
	margin-bottom: 1em;
}

/* left panel */
#books {
	width: 275px;
	display: flex;
	flex-direction: column;
	row-gap: 1.5em;
}

.book {
	width: 275px;
	height: 137px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	background-color: rgb(27, 27, 27);
	padding: .2em;
	border-radius: .5em;
}

.book:hover {
	background-color: rgb(46, 43, 46);
}

.book::after {
	content: "...";
	position: absolute;
	right: 0;
	bottom: 0;
	padding-left: 5px;
	padding-right: 5px; 
	background: inherit;
	font-size: 12pt;
}

.book h2 {
	overflow: hidden;
	margin-bottom: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.book p {
	display: inline;
}

.small-thumbnail {
	float: left;
	height: 110px;
	flex-shrink: 0;
	display: inline;
	margin-right: .5em;
	border-radius: .5em;
}

/* Right panel */
#book-info {
	border: 1px rgb(156, 82, 185) solid;
	border-radius: .5em;
	max-width: 500px;
	padding: .5em;
}

#thumbnail {
	float: left;
	height: 300px;
	flex-shrink: 0;
	display: inline;
	margin-right: 1em;
	border-radius: .5em;
}

#top-info::after {
	content: "";
	display: table;
	clear: both;
}

#chapters {
	margin-left: 1em;
}

ul {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	margin-top: 0;
} 

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: solid 2px rgb(156, 82, 185);
	margin-top: 10px;
	padding-top: 10px;
}

.link-footer-button {
	display: inline-flex;
	padding: 3px 3px;
	cursor: pointer;
	text-decoration: none;
	color: whitesmoke;
	border: 1px rgb(156, 82, 185) solid;
	border-radius: .5em;
	align-items: center;
}

.list-button {
	cursor: pointer;
}