.side-by-side {
	display: flex;
	column-gap: 1em;
	flex-wrap: wrap;
}

hr {
	margin-bottom: 1em;
}

/* left panel */
#books {
	width: 275px;
	display: flex;
	flex-direction: column;
	row-gap: 1.5em;
}

.book {
	width: 275px;
	height: 144px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	background-color: rgb(27, 27, 27);
	padding: .2em;
	border-radius: .5em;
}

.book:hover {
	background-color: rgb(46, 43, 46);
}

.book::after {
	content: "...";
	position: absolute;
	right: 0;
	bottom: 0;
	padding-left: 5px;
	padding-right: 5px; 
	background: inherit;
	font-size: 12pt;
}

.book h2 {
	overflow: hidden;
	margin-bottom: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.book p {
	display: inline;
}

.small-thumbnail {
	float: left;
	height: 93px;
	flex-shrink: 0;
	display: inline;
	margin-right: .5em;
	border-radius: .5em;
}

/* Right panel */
#book-info {
	border: 1px whitesmoke solid;
	border-radius: .5em;
	flex-grow: 1;
	max-width: 500px;
	padding: .5em;
}

#thumbnail {
	float: left;
	height: 300px;
	flex-shrink: 0;
	display: inline;
	margin-right: 1em;
	border-radius: .5em;
}


.label {
	color: rgb(160, 160, 160);
}

#top-info::after {
	content: "";
	display: table;
	clear: both;
}

#chapters {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
} 

#chapters li {
	margin-left: -1em;
	list-style-type: none;
	border-radius: .5em;
	display: flex;
}

.link-button {
	display: inline-block;
	padding: 6px 0em;
	cursor: pointer;
	text-decoration: none;
	color: whitesmoke;
	flex-grow: 1;
}

#chapters li:hover {
	list-style-type: none;
	background-color: rgb(46, 43, 46);
	
}
