header {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}

#chapter-interface {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}

.icon-button {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	height: 2em;
	width: 2em;
	font-size: 18px;
	cursor: pointer;
	background-color: rgb(46, 43, 46);
	text-decoration: none;
	color: whitesmoke;
}

h1, h2 {
	margin: 10px;
}

#chapter-text {
	max-width: 500px;
	border: 1px whitesmoke solid;
	border-radius: .5em;
}