header {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}

#chapter-interface {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}

.icon-button {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	height: 2em;
	width: 2em;
	font-size: 18px;
	cursor: pointer;
	background-color: rgb(78, 66, 78);
	text-decoration: none;
	color: rgb(216, 140, 247);
}

h1, h2 {
	margin: 10px;
}

#chapter-text-container {
	padding: 0 20px;
	max-width: 500px;
	border: 1px rgb(156, 82, 185) solid;
	border-radius: .5em;
	margin-bottom: 55px;
}

.button-box-page {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}

#spacer {
	width: 5px;
	height: 5px;
}

footer  {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 55px;
	z-index: 1000;
	background-color: rgb(27, 27, 27);
}

.button-box-footer {
	display: flex;
	justify-content: space-between;
	padding: 0 .5em;
}

.footer-button {
	border: 0;
}

#bookmark {
	color: whitesmoke;
}

.bookmarked {
	color: rgb(216, 140, 247) !important;
}