body {
	background-color: rgb(27, 27, 27);
	color: whitesmoke;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(
    to right,
    rgb(27, 27, 27) 0px,
    rgb(27, 27, 27) 700px,
    rgb(14, 14, 14) 1400px,
	rgb(0, 0, 0) 2000px
  );
}

b {
	color: white
}

h1 {
	font-size: 20pt;
}

h2 {
	padding-top: 0.1px;
	margin-top: 0;
	font-size: 16pt;
	line-height: 1;
}

h3 {
	padding-top: 0.1px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 13pt;
}

p, a, li, span {
	font-size: 12pt;
}

.label {
	color: rgb(148, 124, 155);
}

hr {
	border-color: rgb(156, 82, 185);
}