body {
	background-color: rgb(27, 27, 27);
	color: whitesmoke;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
}

b {
	color: white
}

h1 {
	font-size: 20pt;
}

h2 {
	padding-top: 0.1px;
	margin-top: 0;
	font-size: 16pt;
	line-height: 1;
}

h3 {
	padding-top: 0.1px;
	margin-top: 0;
	font-size: 14pt;
}
p, a, li, span {
	font-size: 12pt;
}